electronics/Freenove_Basic_Starter_Kit_for_ESP32_S3-main/*
*.bak
*.step
*.HEIC
.idea/
electronics/code/platformio_projects/self_balancing_robot/.vscode/
electronics/robot_pcb/fp-info-cache
*.kicad_sch-bak
mechanical/parts/*.stl
mechanical/parts/*.3mf
mechanical/parts/*.dxf

# untracked libraries
firmware/archived/Freenove_Basic_Starter_Kit_for_ESP32_S3-main/

# generated outputs
electronics/code/platformio_projects/self_balancing_robot/src/read_serial
electronics/cable_harnesses/cable_harness_motor_controller
